<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Synthetic Images</title>
</head>
<body>
<div>
    <h1>Thank you for uploading your files. They have been stored on Google Cloud and can be accessed here...</h1>
    <p>{{ file }}</p>
    <p>{{ xml }}</p>
    </div>
<div>
    <p>click the button to create 5 new synthetic images from your uploaded image</p>
</div>
<form action="/synthetic" method="POST">
    <input type="hidden" id="file" name="uploaded_file" value={{ file }}>
    <input type="hidden" id="xml" name="uploaded_xml" value={{ xml }}>
    <input type="submit" value="Create Synthetic Images">
</form>
</body>
</html>